<link rel="stylesheet" href="./aplicacao-teste.component.css">
<div id="container">
    <img src="https://images4.alphacoders.com/962/thumb-1920-962077.jpg" alt=""> <br><br>
    <div id="links">
        <a href="">Home </a>|<span></span>
        <a href="">Biografia </a>|<span></span>
        <a href="">Contato </a><span></span>
    </div>
    <h1>SOU LINDO</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, mollitia asperiores nobis explicabo aliquid odit facilis tenetur a suscipit eligendi rerum placeat neque ex deserunt, quia nesciunt accusamus commodi. Doloribus.</p>

</div>
