<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="login-page.component.css" />
<div id="container">

  <form (ngSubmit)="onSubmit()">
    <div>
      <img src="/./src/assets/logo.jpeg" alt="Imagem de login" class="logo">
      <div>
        <label class="label" for="username">EMAIL:</label>
      </div>
      <input  type="email" id="username" class="input" name="username" required placeholder="DIGITE SEU EMAIL" [(ngModel)]="username">
    </div>
    
    <div>
      <div>
        <label class="label" for="password">SENHA:</label>
      </div>
      <input  type="password" id="password" class="input" name="password" required  placeholder="DIGITE SUA SENHA" [(ngModel)]="password">
    </div>

    <div id="button">
      <button class="button" type="submit">Entrar</button>
    </div>
   
  </form>
</div>

